<!-- game_web_service/templates/articles/create.html -->
{% extends "base.html" %}
{% block content %}
    <h1>Создать статью</h1>
    <form action="{% url 'article_create' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Создать</button>
    </form>
    {% if form.errors %}
    <div>
        <ul>
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}