{% extends "base.html" %}
{% block content %}
    <h1>Редактировать статью</h1>
    <form action="{% url 'articles_update' id=article_id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
    </form>
    {% if form.errors %}
    <div>
        <ul>
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}