<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
<h1>Users</h1>

<a href="{{ url_for('users_new') }}">Создать пользователя</a>

<form action="{{ url_for('get_users') }}" method="get">
  <input type="search" name="query" value="{{ search }}" placeholder="Введите имя" />
  <input type="submit" value="Search" />
</form>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td><a href="{{ url_for('show_user', id=user.id) }}">{{ user.id }}</a></td>
            <td><a href="{{ url_for('show_user', id=user.id) }}">{{ user.name }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
