<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GWS{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/rating.js' %}" defer></script>
</head>
<body>
    {% include 'includes/header.html' %}
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'includes/footer.html' %}
</body>
</html>